<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class = 'wrapper'>
      <h1>snippet</h1>
      {{#snippet}}
      <p>{{title}}</p>
      <p>{{code}}</p>
      <p>{{notes}}</p>
      <p>{{lang}}</p>
      <p>{{tags}}</p>
      {{/snippet}}
    <p><a href="/">Index</a></div>
  </div>
  </body>
</html>
